{{#> layout}}

  {{#*inline "content"}}
    <!-- START CENTERED WHITE CONTAINER -->
    <!--suppress HtmlDeprecatedAttribute -->
    <table class="main" role="presentation">
      <!-- START MAIN CONTENT AREA -->
      <tr>
        <td class="wrapper">
          <table border="0" cellpadding="0" cellspacing="0" role="presentation">
            <tr>
              <td>
                <p>Hello {{user.firstName}},</p>
                <p>We received a request to reset your password. If you didn't make this request, you can safely ignore
                  this email.</p>
                <p>To reset your password, click the button below:</p>
                <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" role="presentation">
                  <tbody>
                  <tr>
                    <td align="left">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                        <tr>
                          <td>
                            <a href="{{resetLink}}/{{token}}" target="_blank">Reset Password</a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <p>Please note that this password reset link will expire in {{expiryTime}} minutes.</p>
                <p>If you're having trouble clicking the button, copy and paste this URL into your web browser:</p>
                <p>{{resetLink}}/{{token}}</p>

              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- END MAIN CONTENT AREA -->
    </table>
    <!-- END CENTERED WHITE CONTAINER -->
  {{/inline}}
{{/layout}}

